__pycache__/
*.pyc
.ipynb_checkpoints/
.DS_Store
Thumbs.db

# Jangan upload dataset besar
Dataset/
archive/
*.zip
*.rar
*.7z

# External validation images
sample_images/

# Generated Grad-CAM images
outputs/gradcam/